<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>

<div class="container col-md-12" style="padding-bottom: 20px;">
	<div class="row">
		<h2 class="text-center">Welcome to Frog Creek Photography</h2>
	</div>
</div>

<div class="container col-md-12" style="padding-bottom: 20px;">
	<div class="row">
		<div class="media">
		  <div class="media-left media-middle">
		    <img class="media-object img-rounded" src="https://s3-us-west-2.amazonaws.com/frogcreek-prod/Bud-Bio-Picture.png" alt="Bud Janney">
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">Bud Janney</h4>
		    <p>Hi, I'm Bud. I moved down to Florida in 2001 and have never been happier - No snow, no ice, no freezing temperatures and lots of nature. I live on a dirt road a half mile from a state game preserve and sometimes have hawks, hummingbirds and owls fly right by me on my front porch.</p><p>After being away from photography for ten years or so I bought a Canon camera and have been having lots of fun with it. I enjoy getting out and shooting and have been working as a graphic designer for the past 30 years so the compostition and "look" of the photographs I take benefit from that background.</p><p>I hope you enjoy my pictures and feel compelled to want them on your walls too!</p>
		  </div>
		</div>
	</div>
</div>

<div class="container col-md-12">
	<div class="row">
		<div class="media">
		  <div class="media-left media-middle">
		    <img class="media-object img-rounded" src="https://s3-us-west-2.amazonaws.com/frogcreek-prod/Larry-bio-Picture.png" alt="Larry Hickman">
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">Larry Hickman</h4>
		    <p>I was born in the Chicago area in 1956. My family moved to Tempe, Az. when I was 13. I graduated from Arizona State University in 1980 with a BS in Biology. Having an interest in animals since a young age it was an easy transition to take my knowledge of animals to the art of photography.</p><p>I became interested in photography when I was 16 when I bought my first 35mm camera, a Mamiya Sekor. I switched to digital photography in 2005, purchasing  a Canon and continue to shoot with a Canon camera. I have developed that love of animals into a hobby of photography and now offer my talents to the public. I specialize in nature and landscape photography. I hope you enjoy my photographs as much as I enjoy taking them.</p>
		  </div>
		</div>
	</div>
</div>