<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>

<div class="container col-md-12">
	<div class="row">
		<h2 class="text-center">Welcome to Frog Creek Photography</h2>
	</div>
</div>

<div class="container col-md-12">
	<div class="row">
		<div class="media">
		  <div class="media-left media-middle">
		    <img class="media-object" src="..." alt="Bud Janney">
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">Bud Janney</h4>
		    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p><p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		  </div>
		</div>
	</div>
</div>

<div class="container col-md-12">
	<div class="row">
		<div class="media">
		  <div class="media-left media-middle">
		    <img class="media-object" src="..." alt="Larry Hickman">
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">Larry Hickman</h4>
		    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p><p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		  </div>
		</div>
	</div>
</div>